nav {
   display: flex;
   justify-content: space-between;
}

@media (max-width : 600px) {
   nav {
      display: flex;
      flex-direction: column;
   }

}


#flex {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
}

/* .item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu right right main main main '
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 100%;
  height: 25vh;
} */


/* #container {
   display: grid; 
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 100px 200px 300px;
}

#item-a {
  grid-column-start: 2;
   grid-column-end: 5;


} */




.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 100px); /* Creating 3 columns each 100px wide */
   grid-template-rows: repeat(3, 100px); /* Creating 3 rows each 100px tall */
   gap: 10px; /* Gap between grid items */
}

.grid-item {
   background-color: #f0f0f0;
   border: 1px solid #ccc;
   padding: 20px;
}

/* Example 1 */
.example-1 {
   grid-column-start: 1; /* Grid item starts at the first column line */
   grid-column-end: 3; /* Grid item ends at the third column line */
   grid-row-start: 1; /* Grid item starts at the first row line */
   grid-row-end: 3; /* Grid item ends at the third row line */
}

/* Example 2 */
.example-2 {
   grid-column-start: 2; /* Grid item starts at the second column line */
   grid-column-end: 4; /* Grid item ends at the fourth column line */
   grid-row-start: 2; /* Grid item starts at the second row line */
   grid-row-end: 4; /* Grid item ends at the fourth row line */
}



