@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}


.nav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.nav-item {
  font-size: 60px;
  color: green;
}

ul {
    margin-top: 40px;
    list-style-type: none;

}
.section-item {
height: auto;
margin-top : 90px;
}
img {
    margin-top: 120px;

    border-radius: 50%;
    width: 15vw;
}

#img {
    display: flex;
    justify-content: center;
}


section >h1 {
 text-align: center;
}

#form {
    width: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 480px;

    margin-right: 480px;



    margin-bottom: 200px;


}



input[type=text], select ,textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #1e6722;
}

#div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 600px;
  margin-right: 600px;
  
}


a {
    text-decoration: none; 
    color: #1e6722;
    font-weight: bold;
}


#footer {
    position: static ;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    height: 100%;
    
}


a

/* Style for the content area (optional) */
.content {
    padding-bottom: 60px; /* Adjust this value to accommodate footer height */
}